/* Гамбургер меню */
.hamburger-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
}
.hamburger-icon {
  width: 30px;
  height: 30px;
 
}
#burger-toggle {
  display: none;
}

/* Ховаємо sidebar, якщо меню не активне */
#burger-toggle:not(:checked) ~ main .sidebar {
  transform: translateX(-100%);
}
#burger-toggle:checked ~ main .sidebar {
  transform: translateX(0);
}

/* Sidebar для мобільних */
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #D9D9D9;
    z-index: 500;
  }
}

/* ========== Інші стилі ========== */

header {
	background-color: #6d4c41;
	height: 60px;
	padding: 20px 10px 30px 50px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:900;
}
header .biger-box {
  display: flex;
  flex-direction: row;
}
header .biger-box .title {
  font-size: 30px;
  width: 200px;
  color: white;
  font-family: "Playwrite DK Loopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
header .biger-box .big-box {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .biger-box .big-box .search-bar {
  background-color: #D9D9D9;
  width: 70%;
  height: 100%;
  outline-width:3px;
  outline-color:#938D8D;
  outline-style:solid;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .biger-box .big-box .search-bar .search-input {
  margin: 10px;
  color: #938D8D;
}
header .biger-box .big-box .search-bar .search-icon {
  color: #938D8D;
  border-left-style: solid;
  width: 40px;
  height: 40px;
  background-image: url('../images/find.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
header .biger-box .big-box .little-box {
  display: flex;
  flex-direction: row;
}
header .biger-box .big-box .little-box .bell {
  background-image: url('../images/bell.svg');
  background-size: cover;
  margin: 5px 20px 0px 10px;
  width: 30px;
  height: 30px;
}
header .biger-box .big-box .little-box .user {
  width: 40px;
  height: 40px;
  background-image: url('../images/user.svg');
  background-size: cover;
}
header menu {
  background-color: #6d4c41;
  width: 90%;
  display: flex;
  justify-content: space-around;
}
header menu div {
  color: white;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: row;
	margin-top: 110px;
}
main .sidebar {
  background-color: #D9D9D9;
  width: 10%;
  padding: 10px;
  font-size: 20px;
  color: #5c3217;
  height:calc(100vh-110px);
  position:sticky;
  top:110px
}
main .main-grid {
  padding: 10px; 
  width: 90%;
  display: flex;
  flex-direction: column;
}
main .main-grid .big-section .the-big-title {
  font-family: "Playwrite DK Loopet", cursive;
  font-size: 30px;
}
main .main-grid .big-section .content-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-grid .big-section .content-menu .small-title {
  font-size: 20px;
  color: #5c3217;
  padding: 40px 0px 0px 0px;
}
main .main-grid .big-section .content-menu .contents {
  padding: 20px 0px 0px 0px;
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
main .main-grid .big-section .content-menu .contents .box {
  background-color: #D9D9D9;
  border-radius: 10px;
}