body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
   background-image: url('../images/Стародавнє Мистецтво.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}



header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}


.search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



nav.sidebar {
    background-color: #555;
    padding: 10px;
}



nav.sidebar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}


nav.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px


}
.video-card {
    background: white;
	border: 2px solid #000000;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}
.video-card img {
    width: 100%;
    height: auto;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
